---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;
$on-col-bootstrap-breakpoint: 767px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body, input, button, label, span, h2, div {
  font-family: "Hind","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

header {
  padding-top: 50px;

  img {
    width: 268px;
    height: 30px;
    display: block;
    margin: 0 auto;
  }
}

div#teaser {
  padding-top: 50px;

  img {
    width: 255px;
    height: 293px;
    display: block;
    margin: 0 auto;
  }

  span {
    font-family: "Hind","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 26px;
    padding-top: 90px;
    display: block;
    text-align: center;
    width: 100%;
  }

  @include media-query($on-laptop) {
    span {
      font-size: 20px;
    }
  }
}

div#signup-form {
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    font-family: "Hind","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    line-height: 30px;
  }

  @include media-query($on-laptop) {
    h2 {
      font-size: 20px;
    }
  }

  label#emailLabel {
    display: block;
  }

  div.mc-field-group {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 100%;

    input#mce-EMAIL {
      padding: 16px 14px 12px 14px;
      border: 1px solid #eee;
      width: 100%;
    }
  }

  input.button {
    background: #fff;
    padding: 14px 14px 10px 14px;
    border: 4px double #141414;
    display: inline-block;
    outline: 0;
    color: #141414;
    border-radius: 0;
    text-transform: uppercase;
    width: 100%;
  }

  @include media-query($on-col-bootstrap-breakpoint) {
    input.button {
      margin-top: 10px;
    }
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";
